################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Adeptik.AlgorithmExecutor/.vs/Adeptik.AlgorithmExecutor/v15
[Bb]in/
[Oo]bj/
/Adeptik.AlgorithmExecutor/.vs/Adeptik/v15
